<f:form action="create" object="{registration}" objectName="registration" section="registration" method="POST" additionalAttributes="{role:'form'}">
    <f:flashMessages class="flashmessages" />
    <f:render partial="Textfield" arguments="{label: 'Username', property: 'username'}" />
    <f:render partial="Password" arguments="{label: 'Password', property: 'password.0'}" />
    <f:render partial="Password" arguments="{label: 'Password Repeat', property: 'password.1'}" />
    <f:render partial="Textfield" arguments="{label: 'First name', property: 'firstName'}" />
    <f:render partial="Textfield" arguments="{label: 'Last name', property: 'lastName'}" />
    <f:render partial="Textfield" arguments="{label: 'E-Mail', property: 'email'}" />
    <f:form.submit value="Create Account" />
</f:form>